<!DOCTYPE html>
<html>
<head>
  <title>Countries</title>
  <link rel="stylesheet" href="/css/stile.css" />
</head>
<body th:class="${continent.name}">
  <header>
    <h1 th:text="${continent.icon + ' ' + #strings.capitalize(continent.name)}">Continent</h1>
    <p>Select a country to explore its features</p>
  </header>

  <div class="container">
    <div class="search-container">
      <input type="text" class="search-box" placeholder="Search countries..." id="searchBox" />
    </div>

    <div class="countries-grid" id="countriesGrid">
      <a th:each="country : ${continentCountries}"
         th:href="@{'/country/' + ${country.id}}"
         class="country-card">

        <div class="country-flag">
          <img th:src="'https://flagcdn.com/48x36/' + ${country.code} + '.png'"
               th:alt="${country.name} + ' flag'"
               width="48" height="36" />
        </div>

        <h3 class="country-name" th:text="${country.name}">Country Name</h3>
      </a>
    </div>
  </div>
</body>
</html>